name: Build for Android and Deploy to Google Play

on:
  #  push:
  #    paths:
  #      - src/dArtagnan.Shared/**
  #      - src/dArtagnan.Unity/**
  workflow_dispatch:
    inputs:
      track:
        default: open
        description: Test track.
        required: true
        type: choice
        options:
          - internal
          - closed
          - open
          - earlyAccess
          - production

env:
  projectPath: src/dArtagnan.Unity
  unityVersion: 6000.0.58f2

jobs:
  Build-For-Android:
    name: Build For Android
    runs-on: macos-latest
    env:
      targetPlatform: Android
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true
      - uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          versioning: Semantic
          projectPath: ${{ env.projectPath }}
          unityVersion: ${{ env.unityVersion }}
          androidExportType: androidAppBundle
          androidKeystoreName: dArtagnan.keystore
          androidKeystoreBase64: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
          androidKeystorePass: ${{ secrets.ANDROID_KEYSTORE_PASS }}
          androidKeyaliasName: ${{ secrets.ANDROID_KEYALIAS_NAME }}
          androidKeyaliasPass: ${{ secrets.ANDROID_KEYALIAS_PASS }}
          androidTargetSdkVersion: AndroidApiLevelAuto
          cacheUnityInstallationOnMac: true
      - uses: actions/upload-artifact@v4
        with:
          name: Build-${{ env.targetPlatform }}
          path: build/Android
  
  Deploy-To-Google-Play:
    name: Deploy To Google Play
    runs-on: ubuntu-latest
    needs: Build-For-Android
    env:
      GOOGLE_PLAY_KEY_FILE: ${{ secrets.GOOGLE_PLAY_KEY_FILE }}
      GOOGLE_PLAY_KEY_FILE_PATH: ${{ format('{0}/fastlane/google-fastlane.json', github.workspace) }}
      ANDROID_BUILD_FILE_PATH: ${{ format('{0}/build/Android/Android.aab', github.workspace) }}
      ANDROID_PACKAGE_NAME: ${{ secrets.ANDROID_PACKAGE_NAME }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true
      - uses: actions/download-artifact@v5
        with:
          name: Build-Android
          path: build/Android
      - name: Add Authentication
        run: echo "$GOOGLE_PLAY_KEY_FILE" > $GOOGLE_PLAY_KEY_FILE_PATH
      - name: Set up Fastlane
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.5
          bundler-cache: true
      - name: Upload to Google Play Internal
        uses: maierj/fastlane-action@v3.0.0
        with:
          lane: 'android ${{ inputs.track }}'
      - name: Cleanup to avoid Storage limit
        if: always()
        uses: geekyeggo/delete-artifact@v5
        with:
          name: Build-Android
