name: Build for iOS and Deploy Client to App Store

on:
#  push:
#    paths:
#      - src/dArtagnan.Shared/**
#      - src/dArtagnan.Unity/**
  workflow_dispatch:

env:
  projectPath: src/dArtagnan.Unity
  unityVersion: 6000.0.58f2

jobs:
  build-for-iOS-and-Deploy-To-App-Store:
    name: Build for iOS and Deploy To App Store
    runs-on: macos-latest
    env:
      targetPlatform: iOS
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true
      - uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          versioning: Semantic
          projectPath: ${{ env.projectPath }}
          unityVersion: ${{ env.unityVersion }}
          cacheUnityInstallationOnMac: true
          enableGpu: true
      - name: Select Xcode
        run: |
          sudo xcode-select --switch /Applications/Xcode_16.4.app
      - name: Fix File Permissions and Run fastlane
        env:
          APPLE_CONNECT_EMAIL: ${{ secrets.APPLE_CONNECT_EMAIL }}
          APPLE_DEVELOPER_EMAIL: ${{ secrets.APPLE_DEVELOPER_EMAIL }}
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}

          MATCH_REPOSITORY: ${{ secrets.MATCH_REPOSITORY }}
          MATCH_DEPLOY_KEY: ${{ secrets.MATCH_DEPLOY_KEY }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}

          APPSTORE_ISSUER_ID: ${{ secrets.APPSTORE_ISSUER_ID }}
          APPSTORE_KEY_ID: ${{ secrets.APPSTORE_KEY_ID }}
          APPSTORE_P8: ${{ secrets.APPSTORE_P8 }}

          IOS_BUILD_PATH: ${{ format('{0}/build/iOS', github.workspace) }}
          IOS_BUNDLE_ID: com.Gunfighters.dArtagnan # Change it to match your Unity bundle id
          PROJECT_NAME: dArtagnan.Unity # Change it to match your project's name
        run: |
          eval "$(ssh-agent -s)"
          ssh-add - <<< "${MATCH_DEPLOY_KEY}"
          find $IOS_BUILD_PATH -type f -name "**.sh" -exec chmod +x {} \;
          find $IOS_BUILD_PATH -type f -iname "usymtool" -exec chmod +x {} \;
          bundle install
          bundle exec fastlane ios beta